.details-pic {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    
}
.details-grid{
    display: grid;

    grid-template-columns: 400px 600px 80px;
}
.details-pic-container {
    padding-right: 0px;

}

.details-info-container {
    display: grid;
    padding-left: 0px;
    font-family: "Times New Roman", Times, serif;
    border-top: 3px solid rgb(195, 194, 201);
    border-bottom: 3px solid rgb(195, 194, 201);
    grid-template-rows: 110px 230px 60px;
    
}
.details-name {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 4px;
}
.details-info {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.details-description {
    text-align: center;
}
.details-creator {

    text-align: center;
}
.details-price {
    height: 0%;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.go-back-btn {
        border: none;
        right: 30px;

        height: 40px;
        width: 40px;
        font-size: 24px;
        border-radius: 50%;
        background-color: whitesmoke;
        text-align: center;
        color: black;
        justify-content: center;
        margin: 20px;
}
.go-back-btn:hover {
    text-decoration: none;
    color: red;
    font-weight: 1000;
}
.details-btn-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 330px 40px;
    text-align: center;
    border-top: 3px solid rgb(195, 194, 201);
    border-bottom: 3px solid rgb(195, 194, 201);
}
.details-options-btn {
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: rgb(31, 179, 228);
}
.details-options-btn:hover {
    color: aqua;
    background-color: rgb(143, 142, 142);
    border-radius: 50%;
    text-decoration: underline;
}