.details-pic {
    width: 430px;
    height: 430px;
    border-radius: 20px;
    
}
.details-grid{
    display: grid;

    grid-template-columns: 430px 600px 80px;
}
.details-pic-container {
    padding-right: 0px;

}

.details-info-container {
    display: grid;
    padding-left: 0px;
    font-family: "Times New Roman", Times, serif;
    border-top: 3px solid rgb(195, 194, 201);
    border-bottom: 3px solid rgb(195, 194, 201);
    grid-template-rows: 110px 196px 60px 60px;
    padding: 0px;
    
}
.details-name {
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: "Times New Roman", Times, serif;
text-shadow: 2px 2px rgb(149, 135, 145);

-webkit-text-stroke: 2px black;
}
.details-info {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.details-description {
    text-align: center;
    font-style: italic;
}
.details-creator {

    text-align: center;
}
.details-price {
    height: 0%;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.go-back-btn {
        border: none;
        right: 30px;

        height: 40px;
        width: 40px;
        font-size: 24px;
        border-radius: 50%;
        background-color: whitesmoke;
        text-align: center;
        color: black;
        justify-content: center;
        margin: 20px;
}
.go-back-btn:hover {
    text-decoration: none;
    color: red;
    font-weight: 1000;
}
.details-btn-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 330px 60px;
    text-align: center;
    border-top: 3px solid rgb(195, 194, 201);
    border-bottom: 3px solid rgb(195, 194, 201);
}
.details-options-btn {
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: rgb(31, 179, 228);
    height: 30px;
}
.details-options-btn:hover {
    color: aqua;
    background-color: rgb(143, 142, 142);
    border-radius: 50%;
    text-decoration: underline;
}
.details-action-btn {
    display: flex;  
justify-content: center;  
align-items: center;  
    font-size: 30px;
    
}
.like-btn {
    color: white;
    width: 100px;
    height: 50px;
    letter-spacing: 5px;
    font-weight: 700;
    background-color: rgb(31, 179, 228);
    
    border: none;
    font-family: "Times New Roman", Times, serif;
text-shadow: 2px 2px rgb(149, 135, 145);
border-radius: 70%;
}
.own-btn {
    color:white;
    width: 100px;
    letter-spacing: 5px;
    font-weight: 700;
    height: 50px;
    background-color: rgb(31, 179, 228);
    border: none;
    
    font-family: "Times New Roman", Times, serif;
text-shadow: 2px 2px rgb(149, 135, 145);
margin-left: 40px;
border-radius: 70%;
}
.like-btn:hover {
    background-color: rgb(19, 126, 161);

-webkit-text-stroke: 1px rgb(228, 134, 217);
}
.own-btn:hover {
    background-color: rgb(19, 126, 161);
    -webkit-text-stroke: 1px rgb(228, 134, 217);
}
