/* Catalog container */
.catalog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    min-height: 110vh;
    background-image: linear-gradient(to bottom,
            #000000,
            #2e2e2e,
            #585858,
            #878787,
            #b9b9b9,
            #b9b9b9,
            #b9b9b9,
            #b9b9b9,
            #878787,
            #585858,
            #2e2e2e,
            #000000);
}

.catalog-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.message-catalog {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 32px;
    text-align: center;
}

/* Catalog Cards */
.wrapper-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.wrapper-card .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background: #1d1d1d;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper-card .card img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    object-fit: cover;
    object-position: center;
}

.wrapper-card .card h2 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper-card .card h3 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 16px;
}

.wrapper-card .card p {
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.wrapper-card .card .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-size: 0.8rem;
}

.wrapper-card .card .actions button {
    padding: 8px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: inherit;
    background-color: #333;
    cursor: pointer;
}

.wrapper-card .card .actions button:hover {
    background-color: #555;
}

@media only screen and (max-width: 1024px) {
    .wrapper-card {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 12px;
        padding: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper-card {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 8px;
        padding: 8px;
    }

    .wrapper-card .card h2 {
        font-size: 1rem;
    }

    .wrapper-card .card h3 {
        font-size: 0.8rem;
    }
}