.slider {
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
}
.image:hover {
  box-shadow:  2px 2px 6px 2px rgb(105, 210, 255);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  height: 40px;
  width: 40px;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  height: 40px;
  width: 40px;
}
.left-arrow:hover {
  
  box-shadow:  2px 2px 5px 2px rgb(159, 197, 205);
  border-radius: 50%;
}
.right-arrow:hover {
  box-shadow:  2px 2px 5px 2px rgb(159, 197, 205);
  border-radius: 50%;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.most-wanted-label {
  font-size: 40px;
  margin-top: 30px;
    text-align: center;
    letter-spacing: 4px;
  font-weight: 700;
  position: absolute;
  background-color: rgb(231, 198, 229);
  height: 100%;
  padding: 15px;
  margin-bottom: 30px;
  vertical-align: top;
  border-radius: 20px;
  width: 792px;
  box-shadow:  2px 2px 5px 2px rgb(159, 197, 205);
  user-select: none;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px rgb(143, 142, 142);
}
