@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 3rem;
    background-color: #3c3c3c;
    border-bottom: 5px solid white;
    font-family: 'Gajraj One', cursive;
}
.nav_brand {
    text-transform: uppercase;
    font-weight: bold;
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.brand {
    font-size: 28px;
    padding: 0 4rem;
    margin: 0;
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(109, 100, 187);
    color: rgb(196, 196, 196);
    user-select: none;
    
    transition: all 300ms ease;

}
.brand:hover {
    color: white;
    transform: scale(1.2);
    text-decoration: none;
    
}

li.nav_item {
    list-style: none;
    padding: 0 14px;
    transition: all 300ms ease;
    border-left: rgb(90, 90, 90) 2px solid;
    border-right: rgb(90, 90, 90) 2px solid;
}
/* li.nav_item:last-of-type { */
    /* border-right: rgb(90, 90, 90) 2px solid; */
/* } */
a.nav_link {
    font-size: 28px;
    text-decoration: none;
    text-shadow: 2px 2px rgb(109, 100, 187);
    color: rgb(196, 196, 196);
    user-select: none;
    
}
li.nav_item:hover {
    color: white;
    transform: scale(1.1);
    background-color: #3c3c3c;
}