@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*,*::after, *::before {
    margin: 0;
    box-sizing: content-box;
}
html {
    font-size: 16px;
}

body {
    font-size: 1.6rem;
}
li.nav_item {
    list-style: none;
}
a.nav_link {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-shadow: 1px 1px rgb(143, 142, 142);
    color: rgb(31, 179, 228);
    user-select: none;
}
a.nav_link:hover {
    color: black;
}
.nav{
    font-weight:700;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom: 5px solid rgb(31, 179, 228);


}
.nav_brand {
    text-transform: uppercase;
    font-weight: bold;
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}

.brand {
    background-image: url('./site-logo.png');
    user-select: none;
    background-size: cover;
    width: 110px;
    height: 90px;
    background-position: center;
    background-color: white;
    border-radius: 80%;
}
.brand:hover {
    background-color: whitesmoke;
    box-shadow: 0px 1px 2px 2px rgb(152, 147, 168);
}