@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*,*::after, *::before {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(31, 179, 228);
}
a:hover {
    color: white
}
.nav{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background-color: rgb(8, 7, 10);
    border-bottom: 5px solid rgb(31, 179, 228);
}
.nav_brand {
    text-transform: uppercase;
    font-weight: bold;
}
.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.brand-logo {
    background-image: url('https://png.pngtree.com/element_pic/16/11/02/bd886d7ccc6f8dd8db17e841233c9656.jpg');
}