form.form-container {
    background-color: rgb(43, 43, 43);
    padding: 26px 60px;
    margin-bottom: 24px;
    border-radius: 10px;

    width: 420px;
}

h1.auth-h1 {

    padding: 16px 0;

    text-align: center;
    font-family: 'Gajraj One', cursive;
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(109, 100, 187);
    color: rgb(196, 196, 196);
    user-select: none;

    transition: all 300ms ease;
}

h1.auth-h1:hover {
    color: rgb(128, 128, 128);
    transform: scale(1.2) rotate(10deg);
}


button.submit-button {
    width: 100%;
    padding: 8px 0;
    border: 3px rgb(255, 255, 255) outset;
    background-color: rgb(61, 61, 61);

    border-radius: 5px;

    font-size: 32px;
    cursor: pointer;

    margin: 16px 0;

    font-family: 'Gajraj One', cursive;
    letter-spacing: 4px;
    text-shadow: 2px 2px rgb(109, 100, 187);
    color: rgb(196, 196, 196);
    user-select: none;

    transition: all 300ms ease;
}

button.submit-button:hover {
    color: white;
    transform: scaleY(1.2);
    letter-spacing: 8px;
    background-color: rgb(90, 90, 90);

}

.auth-redirect {
    color: rgb(150, 150, 235);
    text-align: center;
    transition: all 200ms ease;
}

.auth-redirect:hover {
    color: rgb(53, 53, 218);
}

.try-again-message {
    font-size: 15px;
    color: red;
    text-align: center;
}
