.formInput{ 
    display: flex;
    flex-direction: column;
    width: 100%;
}
input.auth-input{
    padding: 18px;
    margin: 4px 0 4px 0;
    border-radius: 10px 0px;
    border: 1px solid rgb(8, 7, 10);

}
input.auth-input:hover {
    box-shadow: 2px 2px 1px rgb(104, 123, 127);
}
label.input-label {
    font-size: 24px;
    color: rgb(255, 255, 255);
    user-select: none;
    font-weight: 600;
}
span.error-span {
    font-size: 20px;
    padding: 3px;
    color: red;
    display: none;
    user-select: none;
    word-wrap: break-word;
    transition: all 250ms ease;
    text-align: center;
    
}
span.error-span:hover {
    transform: scale(1.2);
    color: white;
    padding: 8px 3px;
}
input.auth-input:invalid[focused="true"] {
    border: 1px solid red;
}
input.auth-input:invalid[focused="true"] ~ span {
    display: block;
}