.main-content {
    display: grid;
    
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    background-image: url('https://wallpaperaccess.com/full/6602516.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
.box {
        display: flex;

        flex-direction: column;
        justify-content: space-between;
}